@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .body {
        color: white;
        padding: 5px 0px 5px 0px;
    }
    
    .body-light {
        color: rgb(0, 0, 0);
        font-weight: 300;
        padding: 5px 10px 5px 10px;
    }
    
    .wordCarousel {
        font-size:xx-large;
        font-weight: 100;
        color: #eee;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            overflow: hidden;
            position: relative;
            float: right;
            height: 65px;
            padding: 10px;
            padding-top: 10px;
            margin-top: -10px;
            li {
                color: #eee;
                font-weight: 700;
                padding: 0 10px;
                height: 45px;
                margin-bottom: 45px;
                display: block;
            }
        }
    }
    
    .flip5 {
        margin: 30px 0px 0px 0px;
        font-size:50px;
        align-self: center;
        animation: flip5 12s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; 
    }

    .flip5 ul li {
        align-self: center;
    }
    
    .social-card {
        bottom: -8000px;
        left: -8000px;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 700px;
        margin: 60px 0 60px 0;
        padding: 10px;
        backdrop-filter: blur(5px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
        transition: all 1s;
    }
    
    .skills {
        font-weight: 100;
        font-size: medium;
        margin: 10px 0 10px 0;
        font-family: 'Courier New', Courier, monospace;
    }
    
    .link-text {
        font-weight: 100;
        font-size: medium        ;
        margin: 10px 0 10px 0;
        font-family: 'Courier New', Courier, monospace;
        color: rgb(255, 112, 217);
        text-shadow: 0 0 2px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
        transition: all 0.5s;
    }
    
    .link-text:hover {
        color: rgb(255, 112, 217);
        text-shadow: 0 0 2px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
    }
      
    .header-skills {
        backdrop-filter: blur(10px);

        color: #fff;
        padding: 0px;
        text-align: center;
        font-size: medium;
    }
      
    .skill {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-size: small;
    }
      
    .skill-name {
        width: 120px;
        font-size: small;
    }
      
    .skill-level {
        width: 800px;
        height: 10px;
        backdrop-filter: blur(2px);
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        overflow: hidden;
        margin-left: 20px;
    }
      
    .skill-percent {
        backdrop-filter: blur(2px);
        background-color: rgba(0, 0, 0, 0.1);
        animation: slide 8s ease-in-out forwards infinite;
        height: 100%;
    }
      
    .skill-percent-number {
        margin-left: 10px;
        font-size: small;
    }
    
    .group {
        margin: 60px 0 30px 0;
        justify-content: space-between;
    }
      
    .container {
        margin: 20px 0 0 0;
    }
    
    .container-portfolio-1 {
        margin: 0 10px 0 10px;
        padding: 0 0 20px 0;
        max-width: 100%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
    }
    
    .container-welcome-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 350px 0 700px 0;
    }
    
    .container-about-1 {
        margin: 70px 0 70px 0;
        padding: 30px;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(2px);
        border-radius: 10px;
        transition: all 0.5s;
    }
    
    .container-about-1:hover {
        margin: 70px 0 70px 0;
        padding: 30px;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(2px);
        border-radius: 10px;
        transition: all 0.5s;
    }


    #repo-info-1:hover, #repo-info-2:hover {
        padding: 30px;
        backdrop-filter: blur(4px);
    } 
    
    .container-welcome-2 {
        display: flex;
        flex-direction: column;
    }
    
    .container-welcome-3 {
        display: flex;
        justify-content: center;
        margin: 150px 0 200px 0;
    }
    
    .spacer {
        margin: 100px 0 140px 0;
    }
    
    .shadow {
        text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
    }
    
    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
    
    .scrollPrompt {
        bottom: 100px;
    }
    
    .shine {
        font-size: xx-large;
        -webkit-background-size: 500px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        border: none;
        outline: none;
        scroll-behavior: smooth;
        font-family: "Reddit Mono", monospace;
        font-optical-sizing: auto;
    }
    
    :root {
        --primary: rgba(0, 0, 0, 0.2);
        --secondary: rgba(66, 83, 167, 0.2);
    }
    
    
    p {
        font-size: medium;
    }
    
    h1 {
        text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
        margin: 20px 0 20px 0;
        font-size: xx-large;
        font-weight: bolder;
    }
    
    h2 {
        text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
        margin: 20px 0 20px 0;
        font-size: x-large;
        font-weight: bold;
    }
    
    h3 {
        text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
        margin: 20px 0 20px 0;
        font-size: larger;
        font-weight: bold;
    }
    
    body {
        font-size: medium;
        min-width: 100vw;
        min-height: 100vh;
        transition: background-color 0.5s ease;
        text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
        overflow-x: hidden;
    }
    
    section {
        padding: 0px 10px 0px 10px;
    }
}