* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: andale mono, monospace;
}

:root {
    --bg-color: rgb(39, 37, 54);
    --second-bg-color: rgb(63, 60, 87);
    --third-bg-color: rgb(101, 98, 122);
    --fourth-bg-color: rgb(22, 22, 27);
    --text-color: #ffffff;
    --main-color: rgb(76, 94, 255);
    --imp-color: rgb(255, 225, 0);
    --int-color: rgb(255, 0, 183);
    --null-color: rgba(0, 0, 0, 0);
}

html {
    overflow-x: hidden;
    font-size: 100%;
}

body {
    overflow-x: hidden;
    max-width: 100%;
    background: var(--bg-color);
    color: var(--text-color);
    
}

ul {
    list-style-type: none;
    font-size: min(3vw, 20px);
}

p {
    font-size: min(3vw, 20px);
    margin: 2vw;
}

h1 {
    font-size: min(5vw, 50px);
}

h2 {
    font-size: min(4vw, 30px);
}

.underLineText {
    text-decoration: none;
}

.hidden {
    display: none;
    opacity: 0;
}

.visible {
    display: flex;
    opacity: 1;
}

.intractableText {
    cursor: pointer;
    color: var(--int-color);
    text-shadow: 0 0 0.3rem var(--int-color);
    transition: all 0.5s;
}

.intractableText:hover {
    text-shadow: 0 0 0.6rem var(--imp-color);
    color: var(--imp-color);
}

.menuToggle {
    background-color: var(--null-color);
    position: relative;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 100;
    width: 2vw;
    height: auto;
}

.highlighted {
    color: var(--main-color);
    text-shadow: 0 0 0.3rem var(--main-color);
}

.highlighted-dark {
    color: rgb(0, 26, 255);
    text-shadow: 0 0 0.3rem rgb(145, 156, 255);
    font-weight: bold;
}

.highlighted-red {
    color: rgb(255, 0, 0);
    text-shadow: 0 0 0.3rem rgb(255, 145, 145);
    font-weight: bold;
}

.hidden {
    opacity: 0;
}

.slideInDown {
    animation: slideInDown 1s ease-in-out;
}

.longSlideInUp-05 {
    animation: slideInUp 0.5s forwards;
}

.longSlideInUp-1 {
    animation: slideInUp 1s ease-in-out;
}

.longSlideInUp-15 {
    animation: slideInUp 1.5s forwards;
}

.longSlideInLeft-1 {
    animation: slideInLeft 1s ease-in-out;
}

.longSlideInLeft-15 {
    animation: slideInLeft 1.5s ease-in-out;
}

.longSlideInRight-15 {
    animation: slideInRight 1.5s forwards;
}

.collapsed .menuIcon {
    display: none;
}

.collapsed .exitButton {
    display: inline-block;
}

.collapsed .navbar {
    display: none;
}

.navbar.collapsed {
    display: none;
}

.logo {
    width: 5vw; height: auto;
    margin-right: 1vw;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2vw 3vw 2vw 3vw;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(39, 37, 54, 1);
    /*backdrop-filter: blur(5px);*/
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    z-index: 90;
    transition: all 1s ease;
}

.header h1 {
    text-shadow: 0 0 0.5rem var(--main-color);
    padding-right: 1ch;
}

.contentGrouper {
    display: flex;
    flex-direction: row;
}

.container {
    cursor: pointer;
    width: 70%;
    text-align: center;
    background-color: var(--second-bg-color);
    box-shadow: 0 0 0.5rem var(--main-color);
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 1.4vw;
    border-radius: 10px;
}

.container_Portfolio {
    flex: 1;
    cursor: pointer;
    margin: 2vw;
    height: auto;
    text-align: center;
    background-color: var(--third-bg-color);
    box-shadow: 0 0 0.5rem var(--main-color);
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 1.4vw;
    border-radius: 10px;
}

.container_Portfolio p {
    margin: 1vh;
}

.portfolio p {
    margin: 3vh;
    align-self: center;
}

.container_Portfolio:hover {
    padding: 2vw;
}

.container_Portfolio img {
    align-self: center;
    margin: 2vw;
    width: 10vw;
    height: 10vw;
}

.containerHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.containerHeader img {
    margin: 1vw;
    width: 3vw;
    height: auto;
    float: left;
}

.container_about {
    background-color: var(--second-bg-color);
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 1.4vw;
    border-radius: 10px;
}

.container:hover {
    box-shadow: 0 0 2rem var(--imp-color);
    padding: 2vw;
}

.expContent {
    display: none;
    background-color: var(--third-bg-color);
    padding: 2vw;
    border-radius: 10px;
    margin: 1vh;
}

.expContent_Portfolio {
    display: none;
    background-color: var(--third-bg-color);
    padding: 2vw;
    border-radius: 10px;
    margin: 1vh;
}

.expContent_Portfolio.expanded {
    width: 105%;
    display: flex;
    flex-direction: column;
}

.expanded {
    display: flex;
    flex-direction: column;
    width: 105%;
}

.titleContainer {
    margin-left: 2vw;
    flex: 1;
}

.welcomeTitleContainer {
    flex: 0;
}

.socialsContainer {
    margin: 1vw;
    display: flex;
    flex-direction: row;
}

.socialsContainer button {
    margin: 1vw 4vw 1vw 4vw;
    padding: 0.5vw;
    border-radius: 13px;
    background-color: var(--third-bg-color);
    box-shadow: 0 0 0.5rem var(--main-color);
    transition: all 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.socialsContainer button:hover {
    background-color: var(--imp-color);
    box-shadow: 0 0 0.9rem var(--imp-color);
    box-shadow: 0 0 10px rgba(255, 225, 0, 0.7); 
    padding: 0.7vw;
}

.socialsContainer button img {
    opacity: 0.8;
    width: 3.5vw;
    height: 3.5vw;
    align-self: center;
}

.paragraphContainer {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.navbar a {
    transition: color 0.5s ease;
    color: #ffffff;
    float: left;
    text-align: center;
    padding: 0rem 2rem;
    text-decoration: none;
    font-size: 130%;
}

.navbar a.active1 {
    color: var(--main-color);
    text-shadow: 0 0 0.5rem var(--main-color);
}

.navbar a:hover {
    color: var(--imp-color);
    text-shadow: 0 0 0.5rem var(--imp-color);
}

.expanded {
    background-color: var(--third-bg-color);
    display: flex;
    text-align: center;
}

.welcome {
    margin: 18vh 5vw 2vh 5vw;
    padding: 5vh 1vw 5vh 1vw;
    display: flex;
    flex-direction: column;
    text-align: left;
    box-sizing: border-box;
}

.aboutContent {
    align-items: center;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    transition: all 1s ease;
    opacity: 0;
    transform: translateY(-70%);
}

.about {
    transition: all 1s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2);
    margin: 10vh 0 10vh 0;
}

.aboutContent.show {
    opacity: 1;
    transform: translateY(0);
}

.education {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3vh 0 9vh 0;
    opacity: 0;
    transform: translateX(-70%);
    transition: all 1s ease;
}

.education.show {
    opacity: 1;
    transform: translateX(0);
}

.education h2 {
    font-size: min(4vw, 30px);
}

.portfolio {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2);
}

.rainbow {
    animation: rainbowAnimation 2s linear infinite;
}

.smaller {
    font-size: 1rem;
}

.mathContainer {
    font-size: 1.8rem;
    background-color: var(--second-bg-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2);
    padding: 2vw 8vw 2vw 8vw;
    border-radius: 10px;
    margin: 2vw;
}

@keyframes rainbowAnimation {
    0%   { color: red; }
    20%  { color: orange; }
    40%  { color: yellow; }
    60%  { color: violet; }
    80%  { color:springgreen; }
    100%   { color: red; }
}

.mathematics {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2vw 0 2vw 0;
}

.mathematicsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    opacity: 0;
    transform: translateX(90%);
    transition: all 1s ease;
    margin: 2vw;
}

.mathematicsContent.show {
    opacity: 1;
    transform: translateX(0);
}

.mathematics h1 {
    text-align: center;
}

.mathematics h2 {
    margin: 1vw 0 1vw 0;
}

.portfolioContent {
    opacity: 0;
    transform: translateX(70%);
    transition: all 1s ease;
    display: flex;
    flex-direction: column;
}

.portfolioContent.show {
    opacity: 1;
    transform: translateX(0);
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--second-bg-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .2);
}

.contactContent {
    opacity: 0;
    transform: translateX(-70%);
    margin: 5vw;
    transition: all 1s ease;
}

.contactContent.show {
    opacity: 1;
    transform: translateX(0);
}

.contact h1{
    margin: 6vh;
}

.contact p {
    margin: 0 0 3vh 0;
}

.contact h2{
    margin: 10vh 6vh 25vh 6vh;
}

.footer {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    align-content: center;
}

.slideShowContainer {
    min-height: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    padding: 1vw 25vw 1vw 25vw;
    margin: 5vw 0vw 5vw 0vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px #000000;
    background-color: var(--second-bg-color);
}

.slideShowContainer img {
    width: 30vw;
    height: 30vw;
}

.slides {
    display: none;
    flex-direction: column;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    color: var(--int-color);
    text-shadow: 0 0 0.5rem var(--int-color);
    font-weight: bold;
    font-size: min(60px, 9vw);
    transition: all 1s ease;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
    padding: 2vw;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.prev:hover, .next:hover {
    color: var(--imp-color);
    text-shadow: 0 0 0.5rem var(--imp-color);
}

.slideText {
    position: relative;
    flex: 0;
    align-self: center;
    padding: 1vw 0 1vw 0;
}

.numberText {
    flex: 0;
    position:relative;
    padding: 1vw 0 1vw 0;
    align-self: center;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

section {
    transition: all 1s ease-in-out;
}

#scrollToTop {
    background-color: var(--third-bg-color);
    box-shadow: 0 0 0.5rem var(--main-color);
    color: white;
    cursor: pointer;
    padding: 1vw;
    border-radius: 10px;
    transition: all 1s ease;
    margin-left: 2vw;
}

#scrollToTop img {
    width: min(30px, 5vw);
    height: auto;
}

#scrollToTop:hover {
    background-color: var(--imp-color);
    box-shadow: 0 0 0.9rem var(--imp-color);
}

.upArrow {
    width: 1.5vw;
    height: auto;
}

.button1 {
    display: flex;
    text-align: center;
    align-items: center;
    align-self: center;
    margin: 2vw;
    flex: 1;
    background-color: var(--third-bg-color);
    box-shadow: 0 0 0.5rem var(--main-color);
    color: white;
    cursor: pointer;
    padding: 1vw 3vw 1vw 3vw;
    border-radius: 10px;
    transition: all 1s ease;
    transform-origin: top;
    max-width: min(10vw, 100px);
    max-height: min(7vw, 70px);
    font-size: min(2vw, 20px);
    flex-direction: row;
    justify-content: space-around;
}

.toMathsPage {
    display: flex;
    text-align: center;
    align-items: center;
    align-self: center;
    margin: 2vw;
    flex: 1;
    background-color: var(--third-bg-color);
    box-shadow: 0 0 0.5rem var(--main-color);
    color: white;
    cursor: pointer;
    padding: 3vw 6vw 3vw 6vw;
    border-radius: 10px;
    transition: all 1s ease;
    transform-origin: top;
    max-width: min(10vw, 100px);
    max-height: min(7vw, 70px);
    font-size: min(2vw, 20px);
    flex-direction: row;
    justify-content: space-around;
}

.toMathsPage:hover {
    background-color: var(--imp-color);
    box-shadow: 0 0 0.9rem var(--imp-color);
    padding: 3.3vw 6.4vw 3.3vw 6.4vw;
}


.button1:hover {
    background-color: var(--imp-color);
    box-shadow: 0 0 0.9rem var(--imp-color);
    padding: 1.3vw 3.4vw 1.3vw 3.4vw;
}

@keyframes slideInDownReverse {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1400px) {
    .navbar a {
        font-size: 1.5vw;
    }

    .titleContainer h1{
        font-size: 3vw;
    }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {

    p {
        font-size: min(17px, 2vw);
    }

    .navbar.collapsed {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 2vw;
        background-color: rgb(63, 60, 87);
    }

    .navbar {
        position: absolute;
        transition: height 1s ease;
        display: none;
        overflow: hidden;
    }

    .header {
        padding: 2vw 0 2vw 0;
    }

    .logo {
        width: 5vw; height: auto;
        margin: 0vw 2vw 0vw 2vw;
    }

    .socialsContainer button {
        padding: 1vw;
    }

    .socialsContainer button:hover {
        padding: 1vw;
    }

    .container_Portfolio:hover {
        padding: 1.4vw;
    }

    .education img {
        display: none;
    }

    .education {
        background-color: var(--bg-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: 3vh 0 9vh 0;
        opacity: 0;
        transform: translateX(-70%);
        transition: all 1s ease;
    }

    h1 {
        font-size: min(40px, 5vw);
    }

    h2 {
        font-size: min(30px, 4vw);
    }

    .portfolio p {
        display: none;
    }

    .portfolio h2 {
        font-size: min(20px, 4vw);
    }

    .portfolio h1 {
        font-size: min(30px, 4vw);
    }

    .portfolio img {
        width: 12vw;
        height: 12vw;
    }

    .education h2 {
        font-size: min(20px, 5vw);
    }

    .education h1 {
        font-size: min(30px, 6vw);
    }

    .container:hover {
        background-color: var(--second-bg-color);
        box-shadow: 0 0 10px var(--main-color); 
    }

    .slideShowContainer {
        padding: 0.5vw 20vw 0.5vw 20vw;
    }
    
}

@media screen and (max-width: 1000px) and (orientation: portrait) {

    p {
        margin: 5vw;
    }

    .mathematics {
        margin: 5vw 0 5vw 0;
    }

    .welcome {
        margin: 20vw 5vw 5vw 5vw;
        padding: 7vw 1vw 9vw 1vw;
    }
    
    .about {
        margin: 15vw 0 15vw 0;
    }
    
    .education {
        margin: 7vw 0 13vw 0;
    }

    .expContent_Portfolio {
        margin: 3vw;
    }
    
    .contactContent {
        opacity: 0;
        transform: translateX(-70%);
        transition: all 1s ease;
    }
    
    .contactContent.show {
        opacity: 1;
        transform: translateX(0);
    }
    
    
    .contact h1{
        margin: 9vw;
    }
    
    .contact p {
        margin: 0 0 7vw 0;
    }
    
    .contact h2{
        margin: 15vw 9vw 32vw 9vw;
    }

    .expContent {
        margin: 2vw;
    }
    

    .container_Portfolio p {
        margin: 2vw;
    }
    
    .portfolio p {
        margin: 5vw;
        align-self: center;
    }

    .container:hover {
        background-color: var(--second-bg-color);
        box-shadow: 0 0 10px var(--main-color); 
    }

    #scrollToTop {
        padding: 3vw;
        border-radius: 5px;
    }

    p {
        font-size: min(4vw, 20px);
    }
    
    h1 {
        font-size: min(5vw, 50px);
    }
    
    h2 {
        font-size: min(4vw, 30px);
    }

    .welcome {
        margin: 10vw 5vw 1vw 5vw;
        padding: 3vw 1vw 3vw 1vw;
    }

    .socialsContainer button {
        padding: 1vw 1.2vw 1vw 1.2vw;
        border-radius: 7px;
    }

    .socialsContainer button:hover {
        padding: 1vw 1.2vw 1vw 1.2vw;
        border-radius: 7px;
    }

    .socialsContainer button img {
        width: min(50px, 10vw);
        height: min(50px, 10vw);
    }

    .welcomeTitleContainer {
        flex: 0;
        margin-bottom: 1vw;
    }

    .navbar {
        position: absolute;
        transition: height 1s ease;
        display: none;
        overflow: hidden;
    }

    .navbar a {
        font-size: 4vw;
        float: left;
        text-align: center;
        padding: 0.2rem 2rem;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .navbar.collapsed {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 2vw;
        background-color: rgb(63, 60, 87);
    }

    .header h1 {
        font-size: 1.5rem;
    }

    .logo {
        width: 8vw; height: auto;
        margin-right: 2vw;
    }
    
    .menuToggle {
        display: block;
        opacity: 1;
        transition: all 0.5s;
    }

    .exitToggle {
        display: none;
        transition: all 0.5;
    }

    .welcome h1 {
        font-size: 7vw;
    }
    
    .welcome h2{
        font-size: 5vw;
    }

    .welcome {
        flex-direction: column;
        padding: 7vw;
        text-align: left;
        box-sizing: border-box;
    }

    .slideText {
        font-size: 0.8rem;
    }
    
    .numberText {
        font-size: 0.8rem;
    }

    .slideShowContainer img {
        width: 45vw;
        height: 45vw;
    }

    .slideShowContainer {
        padding: 4vw 15vw 4vw 15vw;
    }

    .button1 {
        font-size: min(4vw, 20px);
        padding: 8vw 20vw 8vw 20vw;
        text-align: center;
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .education h2 {
        font-size: min(5vw, 30px);
    }

    .education h1 {
        font-size: min(6vw, 30px);
    }

    ul {
        font-size: min(4vw, 20px);
    }

    .contact h2 {
        font-size: min(5vw, 30px);
    }

    .scrollPrompt {
        padding: 2vw;
        font-size: 0.7em;
    }
    
    .scrollPrompt:hover {
        padding: 3vw;
    }

    .container_Portfolio img {
        width: 20vw;
        height: 20vw;
        align-items: flex-end;
    }

    .container_Portfolio:hover {
        padding: 1.4vw;
    }

    .container_Portfolio {
        align-items: center;
        min-width: 20vw;
        justify-content: space-around;
    }

    .contentGrouper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .education img {
        width: 10vw;
        height: auto;
    }
}





















.mathPage section {
    min-height: 70vh;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.algebra {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.mathPage .intro {
    margin: 10vw 5vw 5vw 5vw;
}

.subDivider {
    margin: 5vw;
}

.mathPage embed {
    width: 80vw;
    height: 80vh;
}

.mathPage .expanded_PDF {
    display: flex;
    flex-direction: column;
    width: 105%;
}

.container-pdf {
    cursor: pointer;
    width: 90%;
    text-align: center;
    background-color: var(--second-bg-color);
    box-shadow: 0 0 0.5rem var(--main-color);
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 1.4vw;
    border-radius: 10px;
}

.container-pdf:hover {
    box-shadow: 0 0 2rem var(--imp-color);
    padding: 2vw;
}

.group {
    margin: 2vw 0vw 2vw 0vw;
}
